<div class="container mt-4">
  <h2>Página de error</h2>
  <p>También podría ser levantado un popup sobre la vista HOME</p>

  <button class="btn btn-danger" (click)="backHome()">Volver a Home</button>
</div>
