<div class="container text-center mt-4">
  <h2>Estás en el componente HOME</h2>

  <div class="row mt-5">
    <div class="col-12">
      <button type="button" class="btn btn-primary" (click)="routeUsers()">Ir a ruta Users</button>
    </div>

    <div class="col-12 mt-5">
      <button type="button" class="btn btn-secondary" (click)="routeUsersError()">Simular Error</button>
    </div>
  </div>
</div>
