<div class="container mt-4">
  <h2 class="text-center">Estás en el detalle del usuario {{ detailUserStore.getDataUser.name }}</h2>

  <div class="row mt-5">
    <div class="col-12">
      <button type="button" class="btn btn-info btn-sm" (click)="backList()">Volver a listado</button>
    </div>
  </div>

  <div class="row mt-3 border">
    <div class="col-xs-12 col-sm-6 text-center">
      <label class="form-text">username</label>
      <p>{{ detailUserStore.getDataUser.username }}</p>
    </div>
    <div class="col-xs-12 col-sm-6 text-center">
      <label class="form-text">company name</label>
      <p>{{ detailUserStore.getDataUser.company.name }}</p>
    </div>
    <div class="col-xs-12 col-sm-6 text-center mt-3">
      <label class="form-text">email</label>
      <p>{{ detailUserStore.getDataUser.email }}</p>
    </div>
    <div class="col-xs-12 col-sm-6 text-center mt-3">
      <label class="form-text">city</label>
      <p>{{ detailUserStore.getDataUser.address.city }}</p>
    </div>
  </div>
</div>
