<div class="container mt-4">
  <h2 class="text-center">Estás en el componente Users</h2>

  <div class="row mt-5">
    <div class="col-12">
      <button type="button" class="btn btn-warning btn-sm" (click)="homeBack()">Volver a Home</button>
    </div>
  </div>

  <div class="table-responsive">
    <table class="table table-success table-striped table-hover table-bordered table-sm mt-3">
      <thead>
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Name</th>
          <th scope="col">Email</th>
          <th scope="col" class="text-center">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users$ | async">
          <th scope="row">{{ user.id }}</th>
          <td>{{ user.name }}</td>
          <td>{{ user.email }}</td>
          <td class="text-center">
            <button type="button" class="btn btn-primary btn-sm" (click)="viewDetail(user)">Detail</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
